* {
  margin: 0;
  padding: 0;
  font-family: Roboto Arial, Helvetica, sans-serif;
  box-sizing: border-box; }

main {
  background-color: #fafafa; }

a {
  display: inline-block;
  text-decoration: none;
  display: flex;
  align-items: flex-end; }

.title {
  font-size: 1.1rem;
  font-weight: 500;
  padding: 1rem 0; }

.light-text {
  font-size: 0.9rem;
  color: #606779; }

.like-dislike-icon {
  width: 20px;
  margin: 0 0.5rem 0 0; }

#main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center; }

#navbar-left {
  margin: 0.25rem 0.9rem;
  display: flex; }
  #navbar-left #yt-logo {
    width: 80px;
    margin: 0.6rem; }

.some-icon {
  width: 24px;
  margin: 0.75rem; }

#navbar-middle {
  display: flex;
  align-items: center; }
  #navbar-middle .search-bar {
    font-size: 1rem;
    height: 32px;
    width: 575px;
    padding: 0 0.7rem;
    border-radius: 2px 0 0 2px;
    border: 1px solid #ccc;
    box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.03); }
  #navbar-middle .search-btn {
    padding: 5px 22px;
    border-radius: 0 2px 2px 0;
    border: 1px solid #ccc;
    border-left: none;
    background: whitesmoke; }
    #navbar-middle .search-btn .search-icon {
      width: 20px; }

#navbar-right {
  display: flex;
  align-items: center;
  margin: 0 1.75rem 0 0; }

path {
  color: red; }

.user-pic {
  background: brown;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 0 0 0 1rem; }

#video-section {
  padding: 1.5rem 1rem 0 4.25rem;
  display: inline-block; }

#vid-info {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  #vid-info .vid-info-left {
    display: flex; }
    #vid-info .vid-info-left p {
      padding: 0 0.5rem 0 0; }
