$light-bg-color: hsl(0, 0%, 98%);
$light-border-color: #ccc;
$lighter-border-color: #e0e0e0;
$dark-text-color: #230303;
$yt-red-color: #cc0000;
$blue-color: #069ee5;

* {
  margin: 0;
  padding: 0;
  font-family: Roboto Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

main {
  background-color: $light-bg-color;
}

a {
  display: inline-block;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
}

// Utilities

.title-l {
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.7rem 0 0.25rem 0;
  color: $dark-text-color;
}
.title-m {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.25rem 0;
  color: $dark-text-color;
}
.title-s {
  font-size: 0.9rem;
  font-weight: 550;
  padding: 0.25rem 0;
  color: $dark-text-color;
}

.light-text-m {
  font-size: 1rem;
  font-weight: 500;
  color: hsl(223, 12%, 5%);
}

.light-text {
  font-size: 0.9rem;
  color: #606779;
}

.normal-text {
  font-size: 0.925rem;
}

.small-light-text {
  font-size: 0.8rem;
  font-weight: 550;
  color: hsl(223, 12%, 50%);
}
.xsmall-light-text {
  font-size: 0.8rem;
  color: hsl(223, 12%, 30%);
}

.small-icon {
  width: 20px;
  margin: 0 0.5rem 0 0;
}

.btn-l {
  padding: 10px 16px;
  background: $yt-red-color;
  color: #fff;
  font-size: 0.9rem;
  border: none;
  border-radius: 3px;
}

// Navbar ***

#main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar-left {
  margin: 0.25rem 0.9rem;
  display: flex;
  #yt-logo {
    width: 80px;
    margin: 0.6rem;
  }
}

// for all those little icons
.some-icon {
  width: 24px;
  margin: 0.75rem;
}

#navbar-middle {
  display: flex;
  align-items: center;
  .search-bar {
    font-size: 1rem;
    height: 32px;
    width: 575px;
    padding: 0 0.7rem;
    border-radius: 2px 0 0 2px;
    border: 1px solid $light-border-color;
    box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.03);
  }

  .search-btn {
    padding: 5px 22px;
    border-radius: 0 2px 2px 0;
    border: 1px solid $light-border-color;
    border-left: none; // so it touches the input-bar
    background: hsl(0, 20%, 97.5%);

    .search-icon {
      width: 20px;
    }
  }
}

#navbar-right {
  display: flex;
  align-items: center;
  margin: 0 1.75rem 0 0;
}
path {
  color: red;
}

.user-pic {
  background: #abcdef;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 0 0 0 1rem;
  flex-shrink: 0;
}

.user-pic-m {
  background: #ffaaaa;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 0 0.5rem 0 0;
  display: inline-block;
  flex-shrink: 0;
}

// Video section ***
#video-section {
  padding: 1.5rem 1rem 0 4.25rem;
  display: inline-block; // be careful

  iframe {
    margin-bottom: 0.5rem;
  }
}

#vid-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $lighter-border-color;

  .vid-info-left {
    display: flex;
    p {
      padding: 0 0.25rem 0 0;
    }
  }
  .vid-info-right {
    display: flex;
    div {
      display: flex;
      padding: 0 0.6rem;
      border-bottom: 2px solid $blue-color;
      width: 10rem;
      margin-right: 1rem;
    }

    a {
      padding: 0 1.5rem 1rem 0;

      color: #606779;
      .some-icon {
        margin: 0;
      }
    }
  }
}

// Channel description

.channel-pic {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #648417;
  display: inline-block;
  margin: 1rem 1rem 0 0;
}

#vid-description {
  width: 911px; // VIDEO WIDTH
  border-bottom: 1px solid $light-border-color;
  #top-desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    #desc-left {
      display: flex;
      align-items: center;
    }
  }

  #description {
    margin: 0.8rem 0 0 64px;

    p {
      padding: 0 0 1.5rem 0;
    }
  }
}

// Comments section
#comment-section {
  margin: 0 0 0 4.25rem;
  width: 911px;
}

#my-comment {
  margin-bottom: 2rem;
  #my-comment-top {
    display: flex;
    align-items: center;

    div {
      display: flex;
      align-items: center;
      margin: 0 0 0 1.25rem;
    }
  }

  #my-comment-bottom {
    display: flex;
    margin: 0 0 1rem 0;

    div {
      margin: 0 0.25rem 0rem 0;
      background: #abcdef;
    }

    input {
      padding: 0 0 0 0.25rem;
      font-size: 0.9rem;
      background: $light-bg-color;
      border: none;
      border-bottom: 1px solid $light-border-color;
      width: 100%;
    }
  }
}

.comment {
  display: flex;
  margin: 1rem 0;

  .comment-lvl0 {
    p {
      margin: 0 0.5rem 0 0;
    }
    display: flex;
    align-items: center;
  }

  .comment-lvl2 {
    margin: 0.75rem 0;
    display: flex;
    align-items: center;
    a {
      svg {
        width: 16px;
      }
      margin: 0 0.75rem 0 0;
    }
  }

  .comment-lvl3 {
    p {
      color: $blue-color;
    }
    svg {
      margin-left: 0;
    }
    display: flex;
    align-items: center;
  }
}

// Recommended videos
#flex-main {
  display: flex;
}

#recommended-videos {
  margin: 1.5rem 0 0 0.5rem;
  h3 {
    margin: 0 0 1rem 0;
  }
}

.r-v-first {
  border-bottom: 1px solid $lighter-border-color;
  padding-bottom: 1rem;
}

.rec-video {
  margin: 0.9rem 0;
  display: flex;

  .thumbnail {
    margin: 0 0.5rem 0 0;
    width: 168px;
    height: 94px;
    background-color: #1a2b3c;
  }

  p {
    padding-top: 0;
    margin: 0 0 0.2rem 0;
  }
}
